@{
    ViewData["Title"] = "Home Page";
}


@using HospitalManager.Areas.Identity.Pages.Account
@using HospitalManager.Helpers
@using Microsoft.AspNetCore.Identity
@using HospitalManager.Areas.Identity.Data
@using Microsoft.CodeAnalysis.CSharp.Syntax
@using Microsoft.CodeAnalysis.VisualBasic.Syntax

@inject SignInManager<HospitalManagerUser> SignInManager
@inject UserManager<HospitalManagerUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
	@Html.Partial("_DashboardPartial")
}
else
{
	<div class="text-center">
		<h1 class="display-4">Witaj w HospitalManagerze</h1>
		<p>Aby używać aplikacji musisz się zalogować.</p>
		
		<div class="container">
			<form class="form-signin">
				<a class="btn btn-lg btn-primary btn-block" id="login" asp-area="Identity" asp-page="/Account/Register">Zarejestruj</a>
				<h3 class="text-center">lub</h3>
				<a class="btn btn-lg btn-primary btn-block" id="login" asp-area="Identity" asp-page="/Account/Login">Zaloguj</a>
			</form>
        
		</div>
	</div>
}