@using Microsoft.AspNetCore.Identity
@using HospitalManager.Areas.Identity.Data
@using Microsoft.CodeAnalysis.CSharp.Syntax
@using Microsoft.CodeAnalysis.VisualBasic.Syntax

@inject SignInManager<HospitalManagerUser> SignInManager
@inject UserManager<HospitalManagerUser> UserManager

@if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "admin"))
{


	<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow mb-3 ">
	<div class="container-fluid">
			<a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">HospitalManager</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
		        aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="navbar-collapse collapse d-sm-inline-flex justify-content-center">
			<ul class="navbar-nav flex-grow-1">
				<li class="nav-item">
						<a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
				</li>
				<li class="nav-item">
						<a class="nav-link text-light" asp-area="" asp-controller="Doktors" asp-action="Index">Doktorzy</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-light" asp-area="" asp-controller="Pacjents" asp-action="Index">Pacjenci</a>
				</li>
				<li class="nav-item">
						<a class="nav-link text-light" asp-area="" asp-controller="Wizytas" asp-action="Index">Wizyty</a>
				</li>
				<li class="nav-item">
						<a class="nav-link text-light" asp-area="" asp-controller="Oddzials" asp-action="Index">Oddziały</a>
				</li>
			</ul>
			@Html.Partial("_LoginPartial")
		</div>
	</div>
</nav>
}
else if (SignInManager.IsSignedIn(User))
{
	<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow mb-3 ">
		<div class="container-fluid">
			<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HospitalManager</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
			        aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
				<ul class="navbar-nav flex-grow-1">
					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
					</li>
				
					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="" asp-controller="Wizytas" asp-action="Index">Wizyty</a>
					</li>
				
				</ul>
				@Html.Partial("_LoginPartial")
			</div>
		</div>
	</nav>
}
else {
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow mb-3">
	<div class="container-fluid">
			<a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">HospitalManager</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
		        aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	
		<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
			<ul class="navbar-nav flex-grow-1">
				<li class="nav-item">
					<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
				</li>

			</ul>
			@Html.Partial("_LoginPartial")
		</div>
		</div>

</nav>

}